Package: buildtools-loongarch64-linux-gnu
Version: 0.1
Section: devel
Architecture: amd64
Maintainer: Alex Heinricher <alexander.heinricher@ll.mit.edu>
Depends: libc6 (= 2.35-0ubuntu3.10)
Description: C and C++ cross-compiler chain for loongarch64
 .
 WARNING: THIS PACKAGE IS FOR RESEARCH PURPOSES ONLY!
 .
 This package provides a best-guess configuration
 of binutils, gcc, and glibc for cross-compiling
 loongarch64 programs on older versions of Ubuntu.
 .
 Specifically, it includes binutils 2.45,
 gcc 14, glibc 2.41, and headers for
 generic Linux kernel 6.16.
 .
 This toolchain can build fully-featured software,
 but it is EXTREMELY UNLIKELY that the
 standard libraries provided are compatible
 with any real-world system.
 They are certainly not compatible with
 the version of Ubuntu for which this package was built.
 .
 If you are running Ubuntu 24.04 or later,
 there are actual packages that provide these tools.
 Please use those instead.
