name: CI

on:
  workflow_run:
    workflows: ["Auto Format"]
    types: [completed]
  workflow_dispatch:

concurrency:
  group: ci-${{ github.event.workflow_run.head_sha }}
  cancel-in-progress: true

jobs:
  Lint-Build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: smallworld-arc
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          lfs: true
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Preinit
        run: |
          sudo apt-get update
          sudo apt-get install -y git-lfs build-essential cmake clang podman

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dev dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[development] -c constraints.txt

      - name: Lint (verification)
        run: |
          isort --check --profile black .
          black --check ./
          flake8 ./
          mypy --ignore-missing-imports ./

      - name: Check PR title
        if: ${{ github.event.workflow_run.event == 'pull_request' }}
        env:
          TITLE: ${{ github.event.workflow_run.pull_requests[0].title }}
        run: bash .github/workflows/scripts/conventional.sh "$TITLE"

      - name: Build container image
        run: |
          export DOCKER_CONFIG=$(mktemp -d)
          podman build . -t docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.event.workflow_run.head_sha }}

      - name: Push image to registry
        run: |
          podman push docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.event.workflow_run.head_sha }}

  Unit-Test:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: smallworld-arc
    needs: Lint-Build
    steps:
      - name: Pull image
        run: |
          podman pull docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.event.workflow_run.head_sha }}
          podman tag docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.event.workflow_run.head_sha }} smallworld:latest

      - name: Run Unit Tests
        run: |
          podman run -i -w /opt/smallworld/tests smallworld:latest python3 unit.py

  Integration-Test:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: smallworld-arc
    needs: Lint-Build
    strategy:
      matrix:
        include:
          - testsuite: BlockTests
          - testsuite: BranchTests
          - testsuite: CallTests
          - testsuite: DMATests
          - testsuite: DocumentationTests
          - testsuite: ElfTests
          - testsuite: FloatsTests
          - testsuite: FuzzTests
          - testsuite: HookingTests
          - testsuite: SquareTests
          - testsuite: StackTests
          - testsuite: StrlenTests
          - testsuite: StructureTests
          - testsuite: SyscallTests
          - testsuite: SymbolicTests
    steps:
      - name: Pull image
        run: |
          podman pull docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.event.workflow_run.head_sha }}
          podman tag docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.event.workflow_run.head_sha }} smallworld:latest

      - name: Run Integration Tests
        run: |
          podman run -i -w /opt/smallworld/tests smallworld:latest python3 integration.py -v ${{ matrix.testsuite }}

  Results:
    runs-on: smallworld-arc
    if: always()
    needs: [Lint-Build, Unit-Test, Integration-Test]
    steps:
      - name: All tests OK
        if: ${{ !contains(needs.*.result, 'failure') }}
        run: exit 0
      - name: Tests Failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
