name: Build Container
on:
  schedule:
    - cron: "00 3 * * *"
  workflow_dispatch:

jobs:
  Build-Container:
    runs-on: smallworld-arc
    steps:
      - uses: actions/checkout@v3

      - name: Trust Registry Cert
        run: |
          echo "Fetching certificate from ${{ secrets.REGISTRY }}"
          openssl s_client -showcerts -connect ${{ secrets.REGISTRY }}:443 < /dev/null 2>/dev/null | openssl x509 -outform PEM | tee /usr/local/share/ca-certificates/harbor.crt > /dev/null
          update-ca-certificates

      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:master
            network=host
          buildkitd-config-inline: |
            [registry."${{ secrets.REGISTRY }}"]
              insecure = true
              http = true

      - name: Build Docker Image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.REGISTRY }}/smallworld/smallworld_ci:${{ github.sha }}
            ${{ secrets.REGISTRY }}/smallworld/smallworld_ci:latest
