name: Build Container
on:
  schedule:
    - cron: "00 3 * * *"
  workflow_dispatch:

env:
  REGISTRY: harbor.harbor.svc.cluster.local

jobs:
  Build-Container:
    runs-on: smallworld-arc
    steps:
      - name: Cleanup Shared
        run: find /home/runner/_shared -mindepth 1 -mtime +3 -exec rm {} \;

      - uses: actions/checkout@v3

      - name: Trust registry cert
        run: |
          echo "Fetching certificate from ${{ env.REGISTRY }}"
          openssl s_client -showcerts -connect ${{ env.REGISTRY }}:443 < /dev/null 2>/dev/null | openssl x509 -outform PEM | tee /usr/local/share/ca-certificates/harbor.crt > /dev/null
          update-ca-certificates

      - name: Login to registry
        run: |
          docker login "$REGISTRY" -u "${{ secrets.REGISTRY_USER }}" -p "${{ secrets.REGISTRY_PASSWORD }}"

      - name: Build container image
        run: |
          docker build -f Dockerfile --network host -t $REGISTRY/smallworld/smallworld_ci:${{ github.sha }} .

      - name: Tag container image
        run: |
          docker tag $REGISTRY/smallworld/smallworld_ci:${{ github.sha }} $REGISTRY/smallworld/smallworld_ci:latest

      - name: Push to Registry
        run: |
          docker push $REGISTRY/smallworld/smallworld_ci:${{ github.sha }}
          docker push $REGISTRY/smallworld/smallworld_ci:latest
