name: Pull Request

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopen, edited]

jobs:
  Build:
    runs-on: smallworld-arc
    steps:
      - name: preinit
        run: |
          sudo apt-get update
          sudo apt-get install -y git-lfs
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Check Title
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: |
          bash .github/workflows/scripts/conventional.sh "$TITLE"
      - name: Build Container
        run: |
          sudo docker build . -t docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.sha }}
      - name: Save Container
        run: |
          sudo docker push docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.sha }} 

  Unit-Test:
    runs-on: smallworld-arc
    needs: Build
    steps:
      - name: Load Container
        run: |
          docker pull docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.sha }}
          docker tag docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.sha }} smallworld:latest
      - name: Run Unit Tests
        run: |
          docker run -i -w /opt/smallworld/tests smallworld:latest python3 unit.py
            
  Integration-Test:
    runs-on: smallworld-arc
    needs: Build
    strategy:
      matrix:
        include:
          - testsuite: BlockTests
          - testsuite: BranchTests
          - testsuite: CallTests
          - testsuite: DMATests
          - testsuite: DocumentationTests
          - testsuite: ElfTests
          - testsuite: FloatsTests
          - testsuite: FuzzTests
          - testsuite: HookingTests
          - testsuite: SquareTests
          - testsuite: StackTests
          - testsuite: StrlenTests
          - testsuite: StructureTests
    steps:
      - name: Load Container
        run: |
          docker pull docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.sha }}
          docker tag docker-registry.docker-registry.svc.cluster.local:5000/smallworld/smallworld:${{ github.sha }} smallworld:latest
      - name: Run Integration Tests
        run: |
          docker run -i -w /opt/smallworld/tests smallworld:latest python3 integration.py ${{ matrix.testsuite }}
  
  Results:
    runs-on: smallworld-arc
    needs: [Build,Unit-Test,Integration-Test]
    if: always()
    steps:
      - name: All tests OK
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Tests Failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
